<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net48" />
  <package id="HarfBuzzSharp" version="2.6.1.5" targetFramework="net48" />
  <package id="itext7" version="7.1.13" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net48" />
  <package id="SkiaSharp" version="2.88.8" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.8" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.8" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="Xceed.Document.NET" version="4.0.25103.5784" targetFramework="net48" />
  <package id="Xceed.Drawing.NET" version="1.0.25103.5784" targetFramework="net48" />
  <package id="Xceed.Pdf" version="4.0.25103.5784" targetFramework="net48" />
</packages>