<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<gcAllowVeryLargeObjects enabled="true" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Spire.License" publicKeyToken="b1144360237c8b3f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.2.40" newVersion="1.3.2.40" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.52.56040" newVersion="3.2.52.56040" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<!--<add key="Version" value="2.0.22" />--> 
		<!--{BB1C45E5-DCAD-41BE-8715-37CCC1F7F433} Upgrade Code-->
		<add key="UrlApi" value="https://dgisapp.army.mil:55102/Temporary_Listen_Addresses" />
		<add key="VersionUrl" value="https://dgis.army.mil/App_Data/" />
		<add key="loginStatus" value="0" />
		<add key="username" value="0" />
		<add key="auth" value="admin" />
		<!--<add key="IP" value="131.1.22.201" />-->
		<add key="IP" value="192.168.10.34" />
		<add key="password" value="0" />
		<add key="LastSelectedLocation" value="" />
		<add key="IsOldDGISExits" value="0" />
		<add key="UrlForDGISDownloadFromADN" value="https://dgis.army.mil" />
		<add key="HasInternetConnection" value="https://dgis.army.mil" />
		<add key="localhostIp" value="127.0.0.1" />
		<add key="cerificateIssuer" value="dgisapp.army.mil" />

		<add key="IACAName" value="IAca1" />
		<add key="IACAUrl" value="https://192.168.10.34/IAca1-cacert.crt" />
		<add key="IARootCAName" value="IArootCA" />
		<add key="IARootCAUrl" value="https://192.168.10.34/IARootCA.cer" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="IsLocalToken" value="false"/>
		
	</appSettings>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding name="defaultBinding" maxReceivedMessageSize="2000000">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</webHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="LocalMachine">
					<serviceCredentials>
						<serviceCertificate findValue="debe38cb14453fbe826052065798b7447291673f" storeLocation="LocalMachine" storeName="Root" />
					</serviceCredentials>
				</behavior>
				<behavior name="">
					<serviceMetadata httpsGetEnabled="true" httpsGetUrl="https://dgisapp.army.mil:55102/Temporary_Listen_Addresses" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="webHttpBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>	
			<service name="SignService.Service1">
				<host>
					<baseAddresses>
						<add baseAddress="https://dgisapp.army.mil:55102/Temporary_Listen_Addresses" />
					</baseAddresses>
				</host>
				<endpoint address="https://dgisapp.army.mil:55102/Temporary_Listen_Addresses" binding="webHttpBinding" bindingConfiguration="defaultBinding" behaviorConfiguration="webHttpBehavior" contract="SignService.IService1" />

			</service>
			<!--<service name="">
			<endpoint address="http://dgisapp.army.mil:55102/Temporary_Listen_Addresses" behaviorConfiguration="web" binding="webHttpBinding" contract="SignService.IService1" />
		</service>-->
		</services>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>
